  .not-found-container {
    text-align: center;
    margin: 50px;
  }

  h1 {
    color: #d9534f;
    /* Red */
  }

  p.german {
    font-weight: 500;
  }

  .black {
    color: #000;
  }

  .red {
    color: #d9534f;
  }

  .yellow {
    color: #ffd700;
  }