<div fxLayout="column" fxFlexFill>
  <div class="header"></div>
  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z10">
    <mat-toolbar-row>
      <h1 class="title"><span class="color">ZSOL</span>Test</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div>
        <a mat-button [routerLink]="'/'"> Főoldal </a>
        <a mat-button [routerLink]="'/messages'"> Üzenetek </a>
        <button mat-button [matMenuTriggerFor]="menuR">Reactive Forms</button>
        <mat-menu #menuR="matMenu">
          <button mat-menu-item [routerLink]="'/forms/normal'">Normal</button>
          <button mat-menu-item [routerLink]="'/forms/dynamic'">Dynamic</button>
        </mat-menu>
        <a mat-button [routerLink]="'/parent'"> Szülő-gyerek </a>
        <button mat-button [matMenuTriggerFor]="menu">Admin</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/admin/users'">Felhasználók</button>
          <button mat-menu-item [routerLink]="'/admin/settings'">Beállítások</button>
        </mat-menu>
      </div>

      <span class="fill-space"></span>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxFlex="55">
        <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>

</div>